.header, .ulNav {
    display: flex;
    flex-direction: row;
}
.header, .ulNav {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.ulNav {
    list-style-type: none;
    font-family: 'Gilda Display', serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px    
    
}
.linav {
    margin: 2rem;
    padding: 0%;
    font-family: 'Gilda Display', serif;   
}
.h1title {
    margin: 1rem;
    padding: 3px;
    text-align: center; 
    font-family: 'Gilda Display', serif;
    font-size: 40px;
    line-height: 0.8;   
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}