* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(172, 127, 69);
    font-family: 'Gilda Display', serif;
    margin: 0;
    padding: 0;;
}
.foto {
    display: block;
    min-height: 92.3vh;
    opacity: 0.6;
    background-image: url(../../multimedia/image.png); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.Ropa.Oversize.Inicio {
    position: relative;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
}
.Texto {
    color: white;
    position: absolute;
    top: 47%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
}
.b {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
}