* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilda Display', serif;
  margin: 0;
  padding: 0;
  background-image: url(../../multimedia/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.Ropa.Oversize.Inicio {
  text-align: center;
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del color de fondo */
  padding: 20px;
}

.Texto {
  color: white;
  font-size: 40px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-button {
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  position: absolute;
  top: calc(50% + 40px); /* Ajusta la posición para que esté justo debajo del texto */
  left: 50%;
  transform: translateX(-50%);
}
