* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gilda Display', serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  background-color: #2b2b2b;
}
.producto {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 400px; 
  height: 400px;
}
.nombreproducto{
  font-size: 30px;
  font-family: 'Gilda Display', serif;
}
.precio{
  font-family: 'Gilda Display', serif;
  font-size: 15px;
}
.boton-carrito {
  background-color: #2b2b2b;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Gilda Display', serif;
  width: 170px; 
}
